
.video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: 100px;
}
*{
  font-family: Helvetica;
}

.img-discord{
  border-radius: 40%;
  background-color: rgba(0, 76, 252, 0.22);
}

.img-backup{
  width: 45%;
  padding-right: 2%;
}

.name-discord{
  font-size: large;
  margin: auto;
  color: rgba(34, 34, 34, 0.84);

}

.txt-desc-discord{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
